*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color:#FFFFFF;
}
nav{
    width: 83%;
    max-width: 1600px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}

.btn, .btn2{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn:hover{
    background-color: blue;
}
#banner{
    background: url(../assets/hero-bg.png);
    background-size: cover;
    padding-bottom: 179.5px;
}

#banner .banner-content{
    width: 83%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}



#banner .banner-content .banner-circle{
    border-radius: 1000px;
    padding: 8px 12px;
    border: none;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 600;
    margin-top: 154.5px;
    cursor: pointer;
}

#banner .banner-content h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    margin: 16px auto;
    width: 83%;
    max-width: 770px;

}

.color-green{
    color: #30B868;
}

#banner .banner-content p{
    color: #FFFFFF ;
    width: 83%;
    max-width: 1360px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto 32px;
}

.banner-content .banner-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
}

.banner-content .btn2{
    background: none;
    border:1px solid #FFFFFF;
    border-radius: 4px;
}

#notes{
    background-color: #fbfbfb;
    padding-top: 120px;
}
#notes .notes-container{
  width: 83%;
margin: 0 auto;
max-width: 1360px;
text-align: center;
}

.notes-container .notes-heading{
    background-color: #fbfbfb;
}
.notes-container .notes-heading h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.notes-heading p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 44px;

}

.notes-container .info{
    display: flex;
    gap: 24px;
   max-width: 1360px;
   margin: 0 auto;
}
.info .info-card{
    border-radius: 8px;
    padding: 24px;
    max-width: 320px;
    box-shadow: 0 0 8px 0 #00000021;
    background-color: #FFFFFF;
    width: 83%;
}

.info-card img{
    max-width: 60px;
    background-color: #F95555;
    border: none;
    border-radius: 50%;
    padding:14.09px;
    margin-top: 69.5px;
    margin-bottom: 16px; ;
}
.info-card h3{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin: 16px ;
    max-width: 274px;
}

.info-card p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 21.5px;
    line-height: 20px;
}

#solution{
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
#solution .solution-container{
    display: flex;
    align-items: center;
    gap: 60px;
    width: 83%;
    max-width: 1360px;
    margin: 0 auto;
}

.solution-container .solution-right{
    max-width: 700px;
}

.solution-right h5{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
.solution-right h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.solution-right p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 20px;
}
.solution-right ul{
    list-style: none;
    display: flex;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 20px;
    color: #001931;
}

#box{
    padding: 0 120px 120px 120px;
}

#box .box-container{
    width: 83%;
    max-width: 1360px;
    margin: 0 auto;
   background-color: #F7F6F2;
   padding: 80px 40px;
   border: none;
   border-radius: 12px;
   text-align: center;
}

.box-container h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}

.box-container p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    color:#627382;
    line-height: 24px;
}

.box-container button{
    margin-bottom: 16px;
}

footer{
    background-color: rgba(0, 25, 49, 1);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 83%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 120px 0 120px;
}

.footer-container .socials p{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-container .icon-container{
    display: flex;
    gap: 16px;
}


.footer-container .icon{
    max-width: 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
}

.ending{
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}

footer hr{
    max-width: 1360px;
    border: none;
    height: 1px;
    width: 83%;
    background-color: #469165;
    margin: 80px auto 30px;
}


